image: microsoft/dotnet:2.1-sdk

stages:
- build
- test
- pack

build:
  stage: build
  script:
    - dotnet restore
    - dotnet build --no-restore -c Debug
  artifacts:
    untracked: true
    expire_in: 6 hours

test:
  stage: test
  script:
    - (cd Sqlite3RoLib.Tests; dotnet test -c Debug)
  artifacts:
    untracked: true
    expire_in: 6 hours
  dependencies:
  - build

pack:
  stage: pack
  script:
    - dotnet pack Sqlite3RoLib -c Debug --include-source --no-build --no-restore --include-symbols -o ../Build
  artifacts:
    expire_in: 1 week
    paths:
    - Build/*.nupkg
  dependencies:
  - build